.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .container lable {
    color: blueviolet;
    font-size: 1rem;
    font-weight: bold;
  }
  .container input {
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: 1px solid black;
  }
  .container input:hover {
    border: 3px solid blue;
  }
  